@import '../../resources/scss/global';

.loader {
	position: fixed;
	top: 50%;
	left: 50%;
	width: 4rem;
	height: 4rem;
	transform: translate(-50%, -50%);
	transform-origin: center;
	border: 0.3rem solid $red;
	border-radius: 50%;
	border-top-color: transparent;
	content: '';
	animation: loader 0.6s linear infinite;
}

.hidden {
	display: none;
}

.hide {
	@include hide;
}

@keyframes loader {
	0% {
		transform: rotate(0);
	}

	100% {
		transform: rotate(360deg);
	}
}