{
  "sourceMaps": true,
  "presets": ["env", "react"],
  "plugins": [
    "transform-object-rest-spread",
    "transform-class-properties",
    "transform-async-to-generator",
    "transform-runtime"
  ]
}
