{
  "extends": ["airbnb", "prettier"],
  "plugins": ["babel", "react", "jest"],
  "parser": "babel-eslint",
  "root": true,
  "env": {
    "browser": true,
    "jest/globals": true
  },
  "parserOptions": {
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "rules": {
    "import/no-unresolved": 0, // @TODO: Webpack aliases?
    "import/extensions": 0, // @TODO: Review
    "react/prop-types": 0, // @TODO: Remove
    "import/no-extraneous-dependencies": 0,
    "import/prefer-default-export": 0,
    "react/jsx-filename-extension": ["error", { "extensions": [".js"] }],
    "jsx-a11y/anchor-is-valid": [
      "error",
      {
        "components": ["Link"],
        "specialLink": ["to"]
      }
    ],
    "react/forbid-prop-types": 0, // @TODO: Remove
    "react/no-array-index-key": 0, // @TODO: Remove
    "class-methods-use-this": 0 // @TODO: Remove
  }
}
