{
  "extends": ["walmart/configurations/es6-react", "prettier"],
  "plugins": ["babel", "react", "jest"],
  "env": {
    "browser": true,
    "node": true,
    "jest/globals": true
  },
  "rules": {
    "react/wrap-multilines": 0,
    "react/prop-types": 0,
    "no-invalid-this": 0,
    "babel/no-invalid-this": 1
  }
}
