.DS_Store
.env.development
.env.local
.env.production
.next
*.log
/dist
/out
/src/generated
/src/app/manifest.webmanifest
node_modules
public/icons
.devcontainer/devcontainer.env
.terraform
.infrastructure/backend.conf
.infrastructure/terraform.tfvars
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
