{
  "extends": [
    "stylelint-config-standard",
    "stylelint-config-styled-components",
    "stylelint-config-property-sort-order-smacss",
    "stylelint-config-prettier"
  ],
  "customSyntax": "@stylelint/postcss-css-in-js",
  "rules": {
    "selector-list-comma-newline-after": "never-multi-line",
    "selector-list-comma-space-after": "always",
    "declaration-empty-line-before": "never",
    "color-hex-length": "long",
    "function-name-case": null,
    "value-keyword-case": null,
    "unit-no-unknown": null,
    "property-no-unknown": [
      true,
      {
        "ignoreProperties": ["font-smoothing"]
      }
    ]
  }
}
