.label {
	display: block;
	font-weight: 500;
	text-align: left;
	margin-bottom: 1rem;

	&:last-child {
		margin-bottom: 0;
	}
}

.input {
	display: block;
	width: 100%;
	margin-top: 0.5rem;
	padding: 1rem;
	border: 0;
	border-radius: 0.4rem;
	background-color: #f0f0f0;
	font-size: 1.4rem;
	resize: vertical;

	@include tablet-desktop {
		&:last-child {
			margin-bottom: 0;
		}
	}
}