.footer {
	padding: 2rem 0;
	background-color: #a25656;
	color: #ffffff;
	font-size: 1.2rem;
}

.wrap {
	text-align: center;
	margin: 0 auto;
	padding: 0 2rem;
}

.copyright {
	display: block;
	flex-grow: 1;
	margin-bottom: 2rem;
}

.icons {
	display: inline-flex;
	text-align: center;
	margin: 0 auto;
}