@import '../../resources/scss/global';

.footer {
	padding: 2rem 0;
	background-color: $red;
	color: $white;
	font-size: 1.2rem;
}

.wrap {
	@include wrap;
	text-align: center;

	@include desktop {
		display: flex;
		align-items: center;
	}
}

.copyright {
	display: block;
	flex-grow: 1;
	margin-bottom: 2rem;

	@include desktop {
		flex-grow: 1;
		text-align: left;
		margin-bottom: 0;
	}
}

.icons {
	display: inline-flex;
	margin: 0 auto;
	text-align: center;
}