@import '../../resources/scss/global';

.footer {
	padding: 2rem 0;
	background-color: $red;
	color: $white;
	font-size: 1.2rem;
}

.wrap {
	@include wrap;
	text-align: center;
}

.copyright {
	display: block;
	flex-grow: 1;
	margin-bottom: 2rem;
}

.icons {
	display: inline-flex;
	margin: 0 auto;
	text-align: center;
}