@import '../../resources/scss/global';

.banner {
	position: relative;
	height: 45rem;
	background-color: $red;
	color: $white;
	overflow: hidden;
}

.header {
	position: relative;
	height: 6.1rem;
	background-color: $red;
	color: $white;
	overflow: hidden;
}

.heading {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 100%;
	padding: 0 2rem;
	transform: translate(-50%, -50%);
	text-align: center;
	animation: animate 0.3s ease;
}

.title {
	color: $white;
	font-size: 2.8rem;
	font-weight: 500;
}

.desc {
	font-size: 1.8rem;
}

@keyframes animate {
	0% {
		transform: translate(-50%, 20%);
		opacity: 0;
	}

	100% {
		transform: translateY(-50%, 0%);
		opacity: 1;
	}
}