@import '../../resources/scss/global';

.banner {
	position: relative;
	height: 75vh;
	background-color: $red;
	color: $white;
	overflow: hidden;
}

.header {
	position: relative;
	height: 6.1rem;
	background-color: $red;
	color: $white;
	overflow: hidden;
}

.heading {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 100%;
	padding: 0 2rem;
	transform: translate(-50%, -30%);
	text-align: center;
	z-index: 2;
	animation-delay: 3s;
	animation: animate 0.3s ease;

	@include tablet-desktop {
		width: auto;
	}

	@include reduced-motion {
		animation: none;
	}
}

.title {
	color: $white;
	font-size: 2.8rem;
	font-weight: 500;
}

.desc {
	font-size: 1.8rem;
}

@keyframes animate {
	from {
		transform: translate(-50%, -20%);
		opacity: 0;
	}

	to {
		transform: translate(-50%, -30%);
		opacity: 1;
	}
}