.banner {
	position: relative;
	height: 45rem;
	background-color: #a25656;
	color: #ffffff;
}

.header {
	background-color: #a25656;
	color: #ffffff;
}

.heading {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 100%;
	transform: translate(-50%, -50%);
	text-align: center;
	padding: 0 2rem;
	animation: animate 0.3s ease;
}

.title {
	font-size: 2.8rem;
	font-weight: 500;
	color: white;
}

.desc {
	font-size: 1.8rem;
}

@keyframes animate {
	0% {
		transform: translate(-50%, 20%);
		opacity: 0;
	}

	100% {
		transform: translateY(-50%, 0%);
		opacity: 1;
	}
}