.contact {
	padding: 4rem 0;
	text-align: center;
}

.label {
	display: block;
	text-align: left;
	font-weight: 500;
	margin-bottom: 0.5rem;
}

.textbox, .email, .textarea {
	display: block;
	width: 100%;
	background-color: #f0f0f0;
	border: 0;
	border-radius: 0.4rem;
	padding: 1rem;
	margin-bottom: 2rem;
	resize: vertical;
	font-size: 1.4rem;
}

.textarea {
	min-height: 8rem;
	margin-bottom: 0;
}

.section {
	&:last-of-type {
		margin-bottom: 4rem;
	}
}

.wrap {
	max-width: 85rem;
	margin: 0 auto;
	padding: 0 2rem;
}

.form {
	text-align: left;
}

.heading {
	font-weight: 500;
	font-size: 2.8rem;
	margin-bottom: 2rem;
}

.desc {
	margin-bottom: 3rem;
}

.button {
	display: block;
	margin: 0 auto;
	border: 0.2rem solid #a25656;
	color: #a25656;
	padding: 0.8rem 2.5rem;
	border-radius: 10rem;
	text-decoration: none;
	font-weight: 500;
	font-size: 1.4rem;
	background-color: transparent;
	cursor: pointer;
	outline: none;
	line-height: 1.5;

	&:hover {
		background-color: #a25656;
		color: #ffffff;
	}
}