@import '../../resources/scss/global';

.contact {
	padding: 4rem 0;
	text-align: center;
}

.label {
	display: block;
	margin-bottom: 0.5rem;
	font-weight: 500;
	text-align: left;
}

.textbox, .email, .textarea {
	display: block;
	width: 100%;
	margin-bottom: 1rem;
	padding: 1rem;
	border: 0;
	border-radius: 0.4rem;
	background-color: #f0f0f0;
	font-size: 1.4rem;
	resize: vertical;

	@include tablet-desktop {
		&:last-child {
			margin-bottom: 0;
		}
	}
}

.textarea {
	min-height: 8rem;
	margin-bottom: 0;
	resize: none;

	@include tablet-desktop {
		flex-grow: 1;
	}
}

.sections {
	@include tablet-desktop {
		display: flex;
		margin-bottom: 4rem;
	}
}

.left, .right {
	@include tablet-desktop {
		width: 48%;

		&:first-child {
			margin-right: 4%;
		}
	}

	&:last-of-type {
		margin-bottom: 4rem;

		@include tablet-desktop {
			margin-bottom: 0;
		}
	}
}

.right {
	@include tablet-desktop {
		display: flex;
		flex-flow: column wrap;
	}
}

.wrap {
	@include wrap;
	max-width: 85rem;
}

.form {
	text-align: left;
}

.heading {
	margin-bottom: 2rem;
	font-size: 2.8rem;
	font-weight: 500;
}

.desc {
	margin-bottom: 3rem;
}

.button {
	display: block;
	margin: 0 auto;
	padding: 0.8rem 2.5rem;
	border: 0.2rem solid $red;
	border-radius: 10rem;
	outline: none;
	background-color: transparent;
	color: $red;
	font-size: 1.4rem;
	font-weight: 500;
	line-height: 1.5;
	text-decoration: none;
	cursor: pointer;

	&:hover {
		background-color: $red;
		color: $white;
	}
}