@import '../../resources/scss/global';

.bar {
	position: fixed;
	top: 6.1rem;
	left: 0;
	width: 100%;
	padding: 0.5rem 0;
	background-color: #8c4848;
	background-color: darken(#a25656, 5%);
	color: $white;
}

.wrap {
	@include wrap;
}

.heading {
	color: $white;
	font-size: 2.4rem;
	font-weight: 500;
}