.about {
	padding: 4rem 0;
	text-align: center;
}

.wrap {
	max-width: 1280px;
	margin: 0 auto;
}

.photo {
	width: 12rem;
	border-radius: 50%;
	margin-bottom: 2rem;
}

.heading {
	font-weight: 500;
	font-size: 2.8rem;
	margin-bottom: 2rem;
}

.info {
	max-width: 82rem;
	margin: 0 auto 2rem;
}