.item {
	width: 25%;
	text-align: center;

	&:nth-child(-n+4) {
		margin-bottom: 1rem;
	}

	&:nth-child(4n+1) {
		margin-left: 0;
	}
}

.icon {
	display: inline-block;
	position: relative;
	width: 6rem;
	height: 6rem;
	border-radius: 50%;
	color: #ffffff;

	&::before {
		position: absolute;
		left: 50%;
		padding: 0.5rem;
		transform: translate(-50%, -90%);
		transition: all 0.25s ease;
		border-radius: 2px;
		background-color: #ffffff;
		color: #000000;
		font-size: 1.4rem;
		font-weight: normal;
		box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
		content: attr(title);
		opacity: 0;
		visibility: hidden;
		will-change: opacity, visibility, transform;
	}

	&:hover {
		&::before {
			transform: translate(-50%, -110%);
			opacity: 1;
			visibility: visible;
		}
	}
}

.hide {
	position: absolute;
	width: 0;
	height: 0;
	overflow: hidden;
	clip: rect(1px, 1px, 1px, 1px);
}