@import '../../resources/scss/global';

.work {
	padding: 4rem 0;
	text-align: center;
}

.wrap {
	@include wrap;
}

.heading {
	margin-bottom: 2rem;
	font-size: 2.8rem;
	font-weight: 500;
}

.desc {
	margin-bottom: 3rem;
}

.items {
	display: flex;
	flex-flow: row wrap;
	max-width: 100rem;
	margin: 0 auto 3rem;
}

.button {
	@include button;
}