@import '../../resources/scss/global';

.nav {
	position: fixed;
	width: 100%;
	background-color: $red;
	font-size: 1.4rem;
	font-weight: 500;
	text-align: right;
	z-index: 2;
}

.wrap {
	@include wrap;
	display: flex;
	align-items: center;
}

.hide {
	@include hide;
}

.logo {
	display: block;
}

.logolink {
	position: relative;
	flex-grow: 1;
	padding-top: 1rem;
	color: $white;
	text-align: left;
	z-index: 3;
}

.link {
	margin-right: 2.8rem;
	padding: 2rem 0;
	color: $white;
	text-decoration: none;

	&:last-child {
		margin-right: 0;
	}
}

.active {
	color: $white;
	font-weight: bold;
}

.burger {
	display: none;
	position: relative;
	width: 2rem;
	height: 1.2rem;
	margin-top: 1.6rem;
	cursor: pointer;

	@include tablet-desktop {
		display: none;
	}

	&::before, &::after {
		position: absolute;
		top: 0;
		left: 0;
		width: 2rem;
		height: 0.2rem;
		transition: all 0.2s ease;
		background-color: $white;
		content: '';
	}

	&::after {
		top: 10px;
	}
}

.burger-open {
	&::before, &::after {
		top: 7px;
	}

	&::before {
		transform: rotate(45deg);
	}

	&::after {
		transform: rotate(-45deg);
	}
}